* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins';
}

.container {
    width: 100%;
    margin: auto;
    overflow: hidden;
}




/* -- HEADER -- */
header {
    width: 100%;
    height: 75vh;
    min-height: 700px;
    border-radius: 0 0 80px 80px;
    background: #00132E;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #00132E, #032B4F, #011633);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #00132E, #032B4F, #011633);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: relative;
    /*Relative necesary to images in bg*/
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header_background_images {
    width: 100%;
    height: 35%;
    margin-top: 90px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
}

.my_name {
    color: black;
    background: white;
    padding: 5px 20px;
    border-radius: 40px;
    z-index: 2;
    margin-bottom: 90px;
    margin-left: 310px;
    transform: rotate(-10deg);
}

#header_me_img {
    position: absolute;
    border-radius: 400px;
    border: solid 5px #ffffff;
    box-shadow: 0 0 40px rgba(0, 0, 0, .35);
    width: 180px;
    height: auto;
}

.texts_header {
    display: flex;
    width: 100%;
    margin-top: 20px;
    align-items: center;
    flex-direction: column;
    text-align: center;
    z-index: 5;
}

.texts_header>h1 {
    font-size: 45px;
    width: 500px;
    font-weight: 500;
    color: #FFF;
    align-items: center;
}

.texts_header>h2 {
    margin-top: 40px;
    font-size: 25px;
    font-weight: 300;
    padding: 5px 30px;
    border-radius: 40px;
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
    color: white;
    background: black;
}

.texts_header>h2:hover {
    font-weight: 500;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
    color: black;
    background: white;
}




/* -- Introduction -- */
main .home-introduction {
    margin-top: 0px;
    padding: 0px 0 20px 0;
    background: #032B4F;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #00132E, #032B4F, #011633);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #00132E, #032B4F, #011633);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: relative;
    overflow: visible;
}

.container-home-introduction {
    display: flex;
    justify-content: space-evenly;
    padding-top: 40px;
}

.image-introduction {
    width: 35%;
    height: auto;
    z-index: 4;
}

.home-introduction .container-introduction-texts {
    color: white;
    width: 40%;
    padding-top: 200px;
    z-index: 4;
    overflow: hidden;
}

.home-introduction .container-introduction-texts ul {
    display: flex;
    padding: 0;
    width: 400%;
    /* 200% porque son 2 elementos, 300% para 3 y así...*/

    animation: slide 40s infinite alternate;
}

.home-introduction .container-introduction-texts li {
    width: 100%;
    list-style: none;
}

@keyframes slide {
    0% {
        margin-left: 0;
    }

    20% {
        margin-left: 0;
    }

    25% {
        margin-left: -100%;
    }

    45% {
        margin-left: -100%;
    }

    50% {
        margin-left: -200%;
    }

    70% {
        margin-left: -200%;
    }

    75% {
        margin-left: -300%;
    }

    100% {
        margin-left: -300%;
    }
}

.container-introduction-texts h3 {
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 40px;
    padding: 0 0px 0 20px;
}

.container-introduction-texts p {
    padding: 0 0 30px 0;
    font-size: 25px;
    font-weight: 300;
    padding: 0 20px 0 20px;
}




/* -- Portfolio -- */
.portfolio {
    background: rgb(0, 0, 0);
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #00132E, #032B4F, #011633);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #00132E, #032B4F, #011633);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    overflow: visible;
    z-index: 3;
}

.container-portfolio-galery {
    padding: 0px 20px;
    width: 100%;
    background: white;
    border-radius: 0 0 80px 80px;
}

.galery-portfolio {
    display: flex;
    padding-top: 0px;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    height: 200px;

}

.card {
    width: 250px;
    height: fit-content;
    max-height: 1000px;
    /* max-height es Necesario para que funcione la animación*/
    background: black;
    border-radius: 30px;
    z-index: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    cursor: pointer;

    -webkit-transition: max-height 1s;
    -moz-transition: max-height 1s;
    -ms-transition: max-height 1s;
    -o-transition: max-height 1s;
    transition: max-height 1s;
}

.card_content_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
    width: 100%;
}

#cloc_logo {
    margin-top: 15px;
    height: auto;
    width: 60%;
    transition: 0.4s ease-in-out;
    z-index: 1;
}

.card:hover #cloc_logo {
    width: 65%;
    filter: blur(4px);
    animation: anim 3s infinite;
    margin-bottom: 20px;
}

#shuffle_logo {
    margin-top: 15px;
    height: auto;
    width: 27%;
    transition: 0.4s ease-in-out;
    z-index: 1;
}

.card:hover #shuffle_logo {
    width: 30%;
    filter: blur(7px);
    animation: anim 3s infinite;
    margin-bottom: 20px;
}

#outrageous_logo {
    margin-top: 15px;
    height: auto;
    width: 30%;
    transition: 0.4s ease-in-out;
    z-index: 1;
}

.card:hover #outrageous_logo {
    width: 40%;
    filter: blur(7px);
    animation: anim 3s infinite;
    margin-bottom: 20px;
}

#kotlin_logo {
    margin-top: 15px;
    height: auto;
    width: 27%;
    transition: 0.4s ease-in-out;
    z-index: 1;
}

.card:hover #kotlin_logo {
    width: 30%;
    filter: blur(7px);
    animation: anim 3s infinite;
    margin-bottom: 20px;
}

.card h4 {
    font-size: 25px;
    font-weight: 300;
}

.card_content_detail {
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    z-index: 2;
    max-height: 0px;
    /* Controls the animation*/
    overflow: hidden;

    -webkit-transition: max-height 1s;
    -moz-transition: max-height 1s;
    -ms-transition: max-height 1s;
    -o-transition: max-height 1s;
    transition: max-height 1s;
}

.inner_detail {
    width: 100%;
    padding: 3%;
}

.inner_detail>h4 {
    text-align: center;
}

.card:hover>.card_content_detail {
    max-height: 170px;
}

@keyframes anim {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}




/* -- Developer -- */
.developer {
    width: 100%;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #00132E, #032B4F, #011633);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #00132E, #032B4F, #011633);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.developer-presentation-container {
    display: flex;
    flex-direction: column;
    padding: 0% 5% 0% 5%;
}

.container-developer-text {
    width: 100%;
}

.container-developer-text p {
    font-weight: 300;
    font-size: 22px;
    text-align: justify;
    color: #fff;
}

#developer_name_img {
    width: 53%;
    margin-top: 3%;
    margin-bottom: 5%;
}

#developer_profile_pic {
    width: 550px;
    height: auto;
    margin-top: 50px;
    margin-bottom: 60px;
    object-fit: cover;
    align-self: center;
    display: block;
    border-radius: 300px;
    border: solid 8px #ffffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, .8);
}




/* -- About Services -- */
.about-services {
    background: #F2F2F2;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #00132E, #032B4F, #011633);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #00132E, #032B4F, #011633);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 5% 5% 8% 5%;
}

.service-container {
    display: flex;
    justify-content: space-between;
}

.service-ind {
    width: 28%;
    text-align: center;
}

.service-ind img {
    width: 90%;
}

.service-ind h3 {
    margin: 10px 0;
}

.service-ind p {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
}




/* -- Responsive 1400px -- */
@media screen and (max-width:1400px) {

    /* -- Introduction -- */
    .home-introduction .container-introduction-texts {
        width: 50%;
        padding-top: 150px;
    }
}

/* -- Responsive 1200px -- */
@media screen and (max-width:1200px) {

    /* -- Header -- */
    header {
        height: 60vh;
        min-height: 600px;
    }

    #header_me_img {
        width: 160px;
    }

    .my_name {
        margin-bottom: 80px;
        margin-left: 300px;

    }

    .texts_header>h1 {
        font-size: 40px;
        width: 400px;
    }

    .texts_header>h2 {
        font-size: 20px;
        margin-top: 20px;
    }


    /* -- Introduction -- */
    .home-introduction .container-introduction-texts {
        width: 60%;
        padding-top: 120px;
    }

    .container-introduction-texts h3 {
        font-size: 35px;
    }

    .container-introduction-texts p {
        font-size: 18px;
    }

    /* -- Portfolio -- */
    .galery-portfolio {
        height: 200px;
    }

    .card {
        width: 200px;
    }

    .card_content_title {
        height: 85px;
    }

    /* -- Developer -- */
    .developer-presentation-container .card {
        width: 90%;
        height: 400px;
    }

    .container-developer-text {
        width: 70%;
    }
}


/* -- Responsive 900px -- */
@media screen and (max-width:900px) {

    /* -- Header -- */


    /* -- Portfolio -- */
    .galery-portfolio {
        height: 170px;
    }

    .card {
        width: 150px;
    }

    .card_content_title {
        height: 70px;
    }

    .card h4 {
        font-size: 18px;
    }
    #outrageous_logo {
        width: 32%;
    }


    /* -- Introduction -- */
    .container-home-introduction {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
    }

    .home-introduction .container-introduction-texts {
        width: 90%;
        padding-top: 20px;
    }

    .image-introduction {
        width: 40%;
        margin-bottom: 0px;
    }

    /* -- Developer -- */
    .developer-presentation-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container-developer-text {
        width: 90%;
    }

    .container-developer-text p {
        font-size: 18px;
    }

    #developer_name_img {
        align-self: center;
        width: 80%;
    }

    #developer_profile_pic {
        width: 70%;
        height: 70%;
        margin-top: 0px;
    }

    /* -- Services -- */
    .service-container {
        justify-content: center;
        flex-direction: column;
    }

    .service-ind {
        align-self: center;
        width: 70%;
        text-align: center;
    }

    .service-ind:nth-child(1),
    .service-ind:nth-child(2) {
        margin-bottom: 30px;
    }

    .service-ind img {
        width: 90%;
    }

    .service-ind p {
        font-size: 18px;
    }
}

/* -- Responsive 680px -- */
@media screen and (max-width:680px) {

    /* -- Header -- */
    header {
        min-height: 200px;
    }

    #header_me_img {
        width: 140px;
    }

    .my_name {
        margin-bottom: 60px;
        margin-left: 300px;
        padding: 5px 15px;
    }

    .texts_header>h1 {
        font-size: 30px;
        width: 300px;
    }

    .texts_header>h2 {
        font-size: 16px;
        margin-top: 20px;
    }

    /* -- Portfolio -- */
    .galery-portfolio {
        height: 170px;
    }
    .container-portfolio-galery {
        border-radius: 0 0 40px 40px;
    }

    .card {
        width: 110px;
        border-radius: 20px;
    }

    .card_content_title {
        height: 60px;
    }

    .card h4 {
        font-size: 15px;
    }


    /* -- Introduction -- */
    .home-introduction .container-introduction-texts {
        width: 95%;
    }

    .container-introduction-texts h3 {
        font-size: 30px;
    }


}


/* -- Responsive 620px -- */
@media screen and (max-width:620px) {
    /* -- Header -- */
    header {
        height: 60vh;
        min-height: 500px;
        border-radius: 0 0 40px 40px;
    }
    #header_me_img {
        width: 110px;
    }

    .my_name {
        font-size: 12px;
        margin-bottom: 60px;
        margin-left: 220px;

    }

    .texts_header>h1 {
        font-size: 30px;
        width: 300px;
    }

    .texts_header>h2 {
        font-size: 15px;
        margin-top: 20px;
    }

     /* -- Portfolio -- */
     .galery-portfolio {
        height: 130px;
    }

    .card {
        width: 100px;
        border-radius: 14px;
    }

    .card_content_title {
        height: 60px;
    }
}


/* -- Responsive 400px -- */
@media screen and (max-width:400px) {
    /* -- Header -- */
    header {
        height: 50vh;
        min-height: 0px;
    }
    #header_me_img {
        width: 110px;
    }

    .my_name {
        font-size: 12px;
        margin-bottom: 60px;
        margin-left: 220px;

    }

    .texts_header>h1 {
        font-size: 22px;
        width: 220px;
    }

    .texts_header>h2 {
        font-size: 13px;
        margin-top: 20px;
    }

     /* -- Portfolio -- */
     .galery-portfolio {
        height: 130px;
    }

    .card {
        width: 100px;
        border-radius: 14px;
    }

    .card_content_title {
        height: 60px;
    }
}

