* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins';
}

.container {
    width: 100%;
    margin: auto;
    overflow: hidden;
}




/* -- HEADER -- */
header {
    width: 100%;
    height: 70vh;
    min-height: 490px;
    background: #00132E;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #00132E, #032B4F, #011633);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #00132E, #032B4F, #011633);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: relative;
    /*Relative necesary to images in bg*/
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 8px rgba(0, 0, 0, .35);
}

.texts-header {
    display: flex;
    height: 100%;
    width: 100%;
    padding: 0 200px;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    text-align: start;
}

.container-header-title {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.container-header-title img {
    width: auto;
    height: 50px;
}

.texts-header h1 {
    font-size: 70px;
    font-weight: 500;
    color: #FFF;
    width: fit-content;
}

.texts-header h2 {
    font-size: 50px;
    font-weight: 400;
    color: #FFF;
}




/* -- Portfolio -- */
.library-galery-portfolio {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 64px 64px;
    overflow: visible;
}

.card-portfolio {
    width: 35%;
    height: 650px;
    max-width: 400px;
    border-radius: 30px;
    padding: 32px;
    flex-direction: column;
    justify-content: space-evenly;
    display: flex;
    border: 1px solid #E1E2E6;
    /*box-shadow: 0 0 6px rgba(0, 0, 0, .5);*/
}

.card-portfolio:hover {
    /*box-shadow: 0 0 6px rgba(0, 0, 0, .35);*/
}

.circle_logo{
    margin-bottom: 0px;
    height: auto;
    width: 30%;
}

.card-portfolio h4 {
    font-weight: 400;
    font-size: 26px;
    color: #A2A6A9;
}

.card-portfolio h3 {
    font-weight: 450;
    font-size: 35px;
}

.card-portfolio p {
    font-weight: 300;
    font-size: 18px;
    text-align: justify;
}

.card-portfolio h2 {
    font-weight: 500;
    font-size: 20px;
    padding-left: 4px;
    padding-right: 4px;
    margin-top: 16px;
    margin-bottom: 16px;
    text-align: center;
    color: #1B5492;
}

.container-card-buy:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #1B5492;
}

.library-galery-portfolio .card-portfolio>.container-card-text {
    flex: 1;
    width: 100%;
}

.library-galery-portfolio .card-portfolio>.container-card-bottom-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.container-card-button {
    width: 90%;
    padding: 10px 25px;
    border: 0px solid #000;
    border-radius: 90px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #000;
    color: #FFF;
}

.container-card-button:hover {
    cursor: pointer;
    color: #000;
    background: #D2E3FC;
}

.container-card-button:hover > p {
    font-weight: 450;
}

.container-card-button img {
    width: 90px;
    height: 20px;
    margin-left: 5px;
}




/* -- Libray Context -- */
.library-context {
    background: #00132E;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #00132E, #032B4F, #011633);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #00132E, #032B4F, #011633);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #FFF;
    border-radius: 10px;
    margin: auto;
    overflow: hidden;
    display: flex;
}

.container-context {
    padding: 70px 0;
    width: 80%;
    margin: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.library-context .context-text {
    width: 50%;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.library-context h4 {
    font-weight: 400;
    font-size: 25px;
    text-align: justify;
}

.library-context p {
    font-size: 18px;
    border-left: 1px solid #FFF;
    margin: 30px 0 20px 30px;
    padding-left: 30px;
}

.context-text-long h2 {
    font-weight: 400;
    font-size: 50px;
    margin-top: 20px;
    text-align: justify;
}




/* -- Porpuses -- */
.library-purpose {
    display: flex;
    margin: auto;
    overflow: hidden;
}

.container-purpose {
    padding: 70px 0;
    width: 80%;
    margin: auto;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
}

.card-porpuse {
    width: 40%;
    height: fit-content;
    padding: 20px;
    border-radius: 12px;
    border: 1px solid #E1E2E6;
    overflow: hidden;
    display: flex;
}

.card-porpuse img {
    width: 40%;
    height: 40%;
    margin: 15px;
    border-radius: 12px;
    object-fit: cover;
    align-self: center;
}

.card-porpuse h4 {
    font-weight: 400;
    font-size: 15px;
    color: #797c7f;
}

.card-porpuse h3 {
    font-weight: 600;
    font-size: 30px;
}



/* --   Responsive   -- */
@media screen and (max-width:1500px) {

    /* -- HEADER -- */
    .texts-header {
        padding: 0 150px;
    }

    .texts-header h1 {
        font-size: 65px;
    }

    .texts-header h2 {
        font-size: 45px;
    }

    /* -- Purpose -- */
    .container-purpose {
        width: 90%;
    }
}

/* -- Responsive 1400px -- */
@media screen and (max-width:1400px) {

    /* -- HEADER -- */
    .texts-header {
        padding: 0 80px;
    }

    .texts-header h1 {
        font-size: 60px;
    }

    .texts-header h2 {
        font-size: 40px;
    }

    /* -- portfolio -- */
    .card-portfolio {
        width: 32%;
    }

    /* -- Context -- */
    .library-context .context-text {
        width: 65%;
    }

    .context-text-long h2 {
        font-size: 45px;
    }

    /* -- Purpose -- */
    .container-purpose {
        width: 100%;
    }
}

/* -- Responsive 1250px -- */
@media screen and (max-width:1250px) {

    /* -- HEADER -- */
    .texts-header h1 {
        font-size: 55px;
    }

    .texts-header h2 {
        font-size: 35px;
    }

    .container-header-title img {
        height: 40px;
    }

    /* -- portfolio -- */
    .card-portfolio {
        width: 30%;
        height: 600px;
    }

    .card-portfolio h4 {
        font-size: 22px;
    }

    .card-portfolio h3 {
        font-size: 32px;
    }

    .card-portfolio h2 {
        font-size: 18px;
    }

}

/* -- Responsive 1100px -- */
@media screen and (max-width:1100px) {

    /* -- HEADER -- */
    .texts-header h1 {
        font-size: 48px;
    }

    .texts-header h2 {
        font-size: 28px;
    }

    .container-header-title img {
        height: 36px;
    }

    /* -- portfolio -- */
    .library-galery-portfolio {
        padding: 64px 20px;
    }

    .card-portfolio {
        width: 30%;
        height: 580px;
    }

    .circle_logo{
        width: 40%;
    }

    .card-portfolio h4 {
        font-size: 22px;
    }

    .card-portfolio h3 {
        font-size: 30px;
    }

    .card-portfolio h2 {
        font-size: 16px;
    }

    .card-portfolio p {
        font-size: 16px;
    }

    /* -- Context -- */
    .library-context .context-text {
        width: 70%;
    }

    .library-context h4 {
        font-size: 20px;
    }

    .context-text-long h2 {
        font-size: 40px;
    }

    /* -- Porpuse -- */
    .card-porpuse {
        flex-direction: column;
    }

    .card-porpuse img {
        width: 60%;
        height: 60%;
    }
}

/* -- Responsive 950px -- */
@media screen and (max-width:950px) {

    /* -- HEADER -- */


    /* -- Portfolio -- */
    .library-galery-portfolio {
        padding: 64px 0px;
    }

    .card-portfolio {
        width: 60%;
        margin: 20px;
    }

    /* -- Context -- */
    .context-text-long h2 {
        font-size: 30px;
    }

    .library-context h4 {
        font-size: 20px;
    }

}

/* -- Responsive 900px -- */
@media screen and (max-width:900px) {

    /* -- portfolio -- */
    .card-portfolio {
        width: 40%;
    }
}

/* -- Responsive 750px -- */
@media screen and (max-width:750px) {

    /* -- HEADER -- */
    .texts-header h1 {
        font-size: 50px;
    }

    .texts-header h2 {
        font-size: 30px;
    }

    .container-header-title img {
        height: 30px;
    }

    #header_stain_right_img {
        margin-top: 100px;
        width: 80%;
    }

    #header_robot_img {
        width: 18%;
    }

    /* -- portfolio -- */
    .card-portfolio {
        width: 42%;
        margin: 10px;
    }

    .card-portfolio h4 {
        font-size: 20px;
    }

    .card-portfolio h3 {
        font-size: 26px;
    }

    .card-portfolio h2 {
        font-size: 15px;
    }

    .card-portfolio p {
        font-size: 15px;
    }


    /* -- Context -- */
    .library-context .context-text {
        width: 100%;
    }

    /* -- Purpose -- */
    .container-purpose {
        flex-direction: column;
        align-items: center;
    }

    .card-porpuse {
        width: 80%;
        margin-bottom: 40px;
    }
}

/* -- Responsive 600px -- */
@media screen and (max-width:600px) {

    /* -- HEADER -- */
    header {
        height: 60vh;
    }

    .texts-header h1 {
        font-size: 45px;
    }

    .texts-header h2 {
        font-size: 25px;
    }

    .container-header-title img {
        height: 28px;
    }

    #header_robot_img {
        width: 25%;
    }

    #header_stain_right_img {
        margin-top: 170px;
        width: 80%;
    }

    .texts-header {
        padding: 10px 50px;
    }

    /* -- portfolio -- */
    .library-galery-portfolio {
        padding: 40px 0;
    }

    .card-portfolio {
        width: 80%;
        margin: 0px;
        margin-bottom: 20px;
        height: 530px;
        max-width: 100%;
    }

    /* -- Context -- */
    .library-context h4 {
        text-align: start;
    }

    .context-text-long h2 {
        text-align: start;
    }
}

/* -- Responsive 400px -- */
@media screen and (max-width:400px) {

    /* -- HEADER -- */
    #header_stain_right_img {
        margin-top: 180px;
        width: 90%;
    }

    #header_robot_img {
        width: 30%;
    }

    .texts-header {
        padding: 0px 20px;
    }

     /* -- portfolio -- */
     .library-galery-portfolio {
        padding: 30px 0;
    }

    .card-portfolio {
        width: 90%;
        margin: 0px;
        margin-bottom: 20px;
        height: 550px;
        
    }
}