#header_cleverito_logo {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    width: 120px;
    padding: 30px 0 0 50px;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    text-align: right;
    padding: 30px 50px 0 0;
}

.nav-menu {
    display: flex;
    flex-direction: column;
    transition: height 0.5s ease;
    height: 0;
    background: #FFF;
    overflow: hidden;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-top: 50px;
    margin-left: 50px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .35);
}


.nav-menu>a {
    color: #000;
    font-size: 20px;
    font-weight: 400;
    width: 300px;
    padding: 10px 0 10px 20px;
    margin: 0;
    text-decoration: none;
    transition: color .3s;
    text-align: left;
    display: flex;
    justify-content: space-between;
}
.nav-menu>a img{
    padding-right: 10px;
}


.nav-menu>a:hover {
    background: #ccc;
}

#navigate {
    z-index: 1000;
    position: absolute;
    left: 0;
    margin-left: 50px;
    cursor: pointer;
    border-radius: 8px;
    display: flex;
    align-items: center;
    transition: width 3.8s ease;
    max-width: 80%;
    max-height: 80%;
    overflow: hidden;
}

#nav_menu_img{
    height: 50px;
    width: 50px;
}