nav {
    width: 100%;
    z-index: 1000;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-menu {
    margin-top: 2rem;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #ffffff00;
    color: #ccc;
}

.left_nav_content {
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.left_nav_content>a {
    font-size: 18px;
    font-weight: 400;
    width: fit-content;
    text-decoration: none;
    transition: color .3s;
    margin-left: 25px;
    padding: 5px 30px;
    border: black;
    border-radius: 40px;
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.8);
    color: white;
    background: #011633;
}

.left_nav_content>img {
    width: auto;
    height: 55px;
}

.left_nav_content>a:hover {
    font-weight: 500;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
    color: black;
    background: white;
}

.right_nav_content>a {
    font-size: 18px;
    font-weight: 400;
    width: fit-content;
    text-decoration: none;
    transition: color .3s;
    padding-left: 25px;
    color: white;
}

.right_nav_content>a:hover {
    color: #F9AF5D;
}




/* -- Responsive 680px -- */
@media screen and (max-width:680px) {

    .nav-menu {
        margin-top: 1rem;
        width: 98%;
    }

    .left_nav_content>a {
        font-size: 16px;
        padding: 5px 20px;
        margin-left: 15px;
    }

    .right_nav_content>a {
        font-size: 18px;
        margin-right: 15px;
    }

    .left_nav_content>img {
        height: 45px;
    }
}

/* -- Responsive 560px -- */
@media screen and (max-width:560px) {
    .left_nav_content>a {
        font-size: 15px;
        padding: 5px 15px;
    }

    .right_nav_content>a {
        font-size: 15px;
    }

    .left_nav_content>img {
        height: 40px;
    }
}

/* -- Responsive 465px -- */
@media screen and (max-width:465px) {
    .left_nav_content>img {
        display: none;
    }
}