* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins';
    background: #FFF;
}




/* -- HEADER -- */
header {
    width: 100%;
    height: 140px;
    /* En caso de cambiar height, mover también en portfolio_list_section y portfolio_content_section*/
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: fixed;
    box-shadow: 0 0 6px rgba(0, 0, 0, .35);
    background: #00132E;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #00132E, #032B4F, #011633);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #00132E, #032B4F, #011633);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.header_background_images {
    position: absolute;
    z-index: 3;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;
}

#header_stain_left_img {
    margin-top: -60px;
    width: 30%;
    transform: scaleX(1) rotate(90deg);
}

#header_stain_right_img {
    margin-top: -60px;
    width: 48%;
    transform: scaleX(-1);
}




/* -- Nav adaptation -- */
.nav-menu {
    margin-top: 11px;
    /* Así queda centrado para un header de heigth: 150px*/
}

.nav-menu>img {
    width: 60px;
    height: 45px;
}




/* -- HEADER TABS-- */
.book_content_tabs {
    margin-top: 75px;
    height: 67px;
    display: flex;
}

.vol_one_color_bg {
    background: #1580A4;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #00D2B2, #1580A4, #1B5492, #1580A4);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #00D2B2, #1580A4, #1B5492, #1580A4);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.vol_two_color_bg {
    background: #a41585;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #E2455E, #C513E2, #943FF6, #7030A0);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #E2455E, #C513E2, #943FF6, #7030A0);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.content_tabs {
    white-space: nowrap;
    overflow-x: auto;
    display: flex;
    position: relative;
    /* Necesario para poder mover el glider con el scroll */
    padding: 1rem;
}

.content_tabs * {
    z-index: 2;
}

.content_tabs input[type="radio"] {
    display: none;
}

.tab {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px; /* En caso de cambiar height, mover también en GLIDER */
    width: fit-content;
    padding: 0 20px;
    margin-left: 6px;
    margin-right: 6PX;
    font-size: 18px;
    font-weight: 400;
    color: #FFF;
    border-radius: 99px;
    border: 0px solid #ccc;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.7);
    cursor: pointer;
    transition: color 0.15s ease-in;
    z-index: 5;
}

.glider {
    position: absolute;
    display: flex;
    height: 35px;
    background-color: #ffffff6c;
    box-shadow: 0 0 6px rgba(255, 255, 255, .5);
    z-index: 1;
    border-radius: 99px;
    transition: 0.25s ease-out;
}

.content_tabs input[type="radio"]:checked+label {
    color: #000;
    font-weight: 600;
    /*Selected color*/
    border: 2px solid #ffffff;
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.778);
}




/* -- Menu drawer icon for list -- */
.book_content_menu_icon {
    height: 35px;
    width: 40px;
    padding: 0px;
    border-radius: 0px;
    z-index: 4;
    display: none;
}

.book_content_menu_icon:hover {
    cursor: pointer;
}

#checkbox_list_menu_icon {
    display: none;
}

.toggle {
    position: relative;
    width: 30px;
    cursor: pointer;
    margin: auto;
    display: block;
    height: calc(4px * 3 + 11px * 2);
}

.bar {
    position: absolute;
    left: 0;
    right: 0;
    height: 4px;
    border-radius: calc(4px / 2);
    background: #ffffff;
    color: inherit;
    opacity: 1;
    transition: width 0.35s cubic-bezier(.5, -0.35, .35, 1.5) 0s;
}

/***** Spin Animation for menu icon *****/
.bar--top {
    width: 100%;
    bottom: calc(50% + 11px + 1px/ 2);
    transition-property: bottom, transform;
    transition-delay: calc(0s + 0.35s), 0s;
}

.bar--middle {
    width: 88%;
    top: calc(50% - 4px/ 2);
    transition-property: opacity;
    transition-delay: calc(0s + 0.35s);
}

.bar--bottom {
    width: 75%;
    top: calc(50% + 11px + 1px/ 2);
    transition-property: top, transform;
    transition-delay: calc(0s + 0.35s), 0s;
}

#checkbox_list_menu_icon:checked+.toggle .bar--top {
    bottom: calc(50% - 4px/ 2);
    transform: rotate(135deg);
    transition-delay: 0s, calc(0s + 0.35s);
    width: 100%;
}

#checkbox_list_menu_icon:checked+.toggle .bar--middle {
    opacity: 0;
    transition-duration: 0s;
    transition-delay: calc(0s + 0.35s);
    width: 100%;
}

#checkbox_list_menu_icon:checked+.toggle .bar--bottom {
    top: calc(50% - 4px/ 2);
    transform: rotate(225deg);
    transition-delay: 0s, calc(0s + 0.35s);
    width: 100%;
}




/* -- Other Books navigation -- */
.next_book_navigation{
    width: 80px;
    height: 40px;
    margin-top: 13px;
    z-index: 8;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 0.8%;
    border-radius: 10px;
    cursor: pointer;
}
.next_book_navigation img{
    width: 60px;
    align-items: center;
}




/* -- Portfolio LIST Content -- */
.portfolio_body {
    display: flex;
    flex-direction: row;
}

.portfolio_list_section {
    margin-top: 140px;
    /* Mueve la posición del nav vertical*/
    position: fixed;
    overflow-y: auto;
    border-radius: 0 16px 16px 0;
    border-right: 1px solid #ccc;
    ;
    background: #EAEBEF;
    min-width: 300px;
    z-index: 10;
    transition: width 0.25s ease-in-out;
}

.portfolio_content_section {
    margin-top: 140px;
    /* Mueve la posición del contenido*/
    flex: 1;
    overflow-y: auto;
    padding-left: 300px;
}

.portfolio_list {
    height: calc(100vh - 150px);
    width: 300px;
    padding-top: 30px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.list_item {
    display: flex;
    width: 100%;
    height: fit-content;
    list-style: none;
    text-align: start;
    flex-direction: column;
}

.list_title {
    color: #303440;
    text-decoration: none;
    cursor: pointer;
    padding: 8px 8px;
    width: 100%;
}

.list_title:hover {
    background: #d0d0d0;
}

.title_level_one {
    padding-left: 32px;
}

.title_level_two {
    padding-left: 64px;
}

.title_level_three {
    padding-left: 88px;
}

.list_item img {
    height: 24px;
    width: 24px;
    padding: 6px;
    margin-left: -24PX;
}

.list_arrow {
    transition: transform .3s;
}

.arrow .list_arrow {
    transform: rotate(90deg);
}

.list_title_father {
    width: 100%;
    display: flex;
    align-items: center;
}

.list_child {
    width: 100%;
    border-left: 0px solid #303440;
    list-style: none;
    transition: height .4s;
    height: 0;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}


/* -- Portfolio BODY Content -- */
.portfolio_text_section {
    padding: 50px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.portfolio_text_section h1 {
    font-size: 55px;
    font-weight: 450;
    margin-bottom: 0px;

    scroll-margin-block-start: 150px;
    /*Adds margin to the top of the viewport*/
    scroll-margin-block-end: 150px;
    /*Adds margin to the bottom of the viewport*/

}

.portfolio_text_section h2 {
    font-size: 30px;
    font-weight: 450;
    margin: 20px 0 0 0;

    scroll-margin-block-start: 150px;
    /*Adds margin to the top of the viewport*/
    scroll-margin-block-end: 150px;
    /*Adds margin to the bottom of the viewport*/

}

.portfolio_text_section h3 {
    font-size: 25px;
    font-weight: 500;
    margin: 18px 0 0 0;
    scroll-margin-block-start: 150px;
    /*Adds margin to the top of the viewport*/
    scroll-margin-block-end: 150px;
    /*Adds margin to the bottom of the viewport*/
}

.portfolio_text_section h3::before {
    content: ">";
    margin-right: 5px;
}

/* Párrafos: */
.portfolio_text_section h3 p {
    color: #2f323d;
    font-size: 17px;
    font-weight: 400;
    text-align: justify;
    margin-left: 20px;
}

.portfolio_text_section p {
    color: #2f323d;
    font-size: 17px;
    font-weight: 400;
    margin: 8px 0px;
    text-align: justify;
}

.indentado {
    text-indent: 2em;
}

.code_snippet{
    width: fit-content;
    font-family: 'Roboto Mono';
    background: #00132E;
    border-radius: 5px;
    padding: 5px 15px 5px 15px;
    margin-left: 4em;
}
.code_snippet p{
    font-size: 15px;
    color: #FFF;
 }

 .console_snippet{
    width: fit-content;
    font-family: 'Roboto Mono';
    background: #695353;
    border-radius: 5px;
    padding: 5px 15px 5px 15px;
    margin-left: 4em;
}
.console_snippet p{
    color: #F5F5F5;
    font-size: 15px;
}

/* -- Portfolio Volume Logo Content -- */
.portfolio_volume_logo {
    width: 20%;
    margin-top: 150px;
    padding: 120px 20px 20px 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio_volume_logo img {
    width: 100%;
}

.reading_card {
    margin-top: 0px;
    height: 250px;
    width: 190px;
    background-image: linear-gradient(to bottom, #210c93, #0d117a, #011160, #010e47, #07052e);
    box-shadow: rgba(0, 0, 0, 0.24) -20px 25px 10px;
    transform-style: preserve-3d;
    transform: perspective(400px) rotateX(10deg) rotateY(-7deg) rotateZ(13deg);
    border-radius: 10px;
    transition: transform 2s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: fixed;
}

.reading_card:hover {
    transform: rotateY(19deg);
}

/* -- Footer for portfolio -- */
#portfolio_footer_section {
    margin-left: 300px;
}

#portfolio_footer_section .content-foo {
    width: 25%;
}




/* -/-/-/-/-/- Responsive -/-/-/-/-/-/-*/

/* -- Responsive 1500px -- */
@media screen and (max-width:1500px) {
    .content_tabs {
        padding-left: 50px;
    }

    #header_stain_left_img {
        margin-top: -50px;
    }

    #header_stain_right_img {
        margin-top: -50px;
    }
}

/* -- Responsive 1350px -- */
@media screen and (max-width:1350px) {
    #header_stain_left_img {
        margin-top: -40px;
    }

    #header_stain_right_img {
        margin-top: -40px;
    }
}

/* -- Responsive 1285px -- */
@media screen and (max-width:1285px) {

    /* -- Header -- */
    #header_stain_left_img {
        margin-top: -30px;
    }

    #header_stain_right_img {
        margin-top: -30px;
    }

    /* -- Book tabs -- */
    .book_content_menu_icon {
        display: block;
        position: fixed;
        margin-top: 16px;
        left: 1.3%;
    }

    .content_tabs {
        margin-left: 65px;
        padding-left: 0px;
    }

    /* -- Portfolio -- */
    .portfolio_list_section {
        min-width: 0px;
        width: 0px;
        box-shadow: 0 0 6px rgba(0, 0, 0, .35);
    }

    .portfolio_content_section {
        padding-left: 50px;
    }

    .portfolio_text_section {
        width: 95%;
    }

    /* -- Footer for portfolio -- */
    #portfolio_footer_section {
        margin-left: 0px;
    }

    #portfolio_footer_section .content-foo {
        width: 20%;
    }
}

/* -- Responsive 1110px -- */
@media screen and (max-width:1110px) {

    /* -- Header -- */
    #header_stain_left_img {
        margin-top: -10px;
    }

    #header_stain_right_img {
        margin-top: -10px;
    }

    /* -- Portfolio -- */
    .portfolio_content_section {
        padding-left: 0px;
    }

    .portfolio_volume_logo {
        display: none;
    }

    .portfolio_text_section {
        width: 100%;
    }

    .portfolio_text_section h1 {
        font-size: 50px;
        font-weight: 450;
        margin-bottom: 0px;
    }
}

/* -- Responsive 950px -- */
@media screen and (max-width:950px) {

    /* -- Header -- */
    #header_stain_left_img {
        margin-top: -20px;
        width: 40%;
    }

    #header_stain_right_img {
        margin-top: -40px;
        width: 50%;
    }

    /* -- Book tabs -- */
    .book_content_menu_icon {
        left: 1%;
    }

    .content_tabs {
        margin-left: 55px;
    }

    .portfolio_text_section {
        width: 100%;
    }
}

/* -- Responsive 800px -- */
@media screen and (max-width:800px) {

    /* -- Header -- */
    #header_stain_left_img {
        width: 0%;
    }

    #header_stain_right_img {
        margin-top: -20px;
        width: 68%;
    }


    /* -- Book tabs -- */
    .book_content_menu_icon {
        left: 0.8%;
    }

    .content_tabs {
        margin-left: 50px;
    }

    .tab {
        font-size: 17px;
    }
}

/* -- Responsive 680px -- */
@media screen and (max-width:680px) {

    /* -- Header -- */
    #header_stain_right_img {
        margin-top: -20px;
        width: 100%;
    }

    /* -- Portfolio -- */
    .portfolio_text_section {
        width: 100%;
        padding: 30px;
    }

    .portfolio_text_section h1 {
        font-size: 40px;
        font-weight: 450;
        margin-bottom: 0px;
    }

    .portfolio_text_section p {
        text-align: start;
    }

    .portfolio_text_section h3 p {
        text-align: start;
    }

    /* -- Tabs -- */
    .tab {
        font-size: 16px;
        font-weight: 400;
    }

    .bar--top {
        bottom: calc(40% + 11px + 4px/ 2);
    }

    .bar--middle {
        top: calc(50% - 4px/ 2);
    }

    .bar--bottom {
        top: calc(40% + 11px + 4px/ 2);
    }
}

/* -- Responsive 550px -- */
@media screen and (max-width:550px) {

    /* -- Header -- */
    #header_stain_right_img {
        margin-top: 20px;
        width: 100%;
    }

    /* -- Portfolio -- */
    .portfolio_text_section {
        width: 100%;
        padding: 20px;
    }

    .portfolio_text_section h1 {
        font-size: 30px;
    }

    .portfolio_text_section h2 {
        font-size: 25px;
    }

    .portfolio_text_section h3 {
        font-size: 20px;
    }

    .content_tabs {
        margin-left: 45px;
    }

    .previous_book_navigation{
        display: none;
    }

    /* -- Footer -- */
    #portfolio_footer_section .content-foo {
        width: 100%;
    }
}