* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins';
    background: #FFF;
}


/* -- HEADER -- */
header {
    width: 100%;
    height: 115px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: fixed;
    background: #000;
    box-shadow: 0 0 6px rgba(0, 0, 0, .35);
}

.vol_one_header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cloc_library_logo {
    height: 55px;
    width: 120px;
    margin: 10px 16px;
}

.cloc_library_logo:hover {
    cursor: pointer;
}

/* -- HEADER TABS-- */
.vol_one_content_tabs {
    height: 40px;
    background: #1580A4;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #00D2B2, #1580A4, #1B5492, #1580A4);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #00D2B2, #1580A4, #1B5492, #1580A4);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.content_tabs {
    height: 40px;
    padding-left: 100px;
    white-space: nowrap;
    overflow-x: auto;
    display: flex;
}

.content_tabs a {
    height: 40px;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    color: #FFF;
    padding: 5px 20px;
    height: 40px;
}

.content_tabs a:hover {
    background: #0f3761;
}

.scroll_arrow{
    display: none;
}

/* -- Portfolio LIST Content -- */
.portfolio_body {
    display: flex;
    flex-direction: row;
}

.portfolio_list_section {
    margin-top: 115px;
    position: fixed;
    overflow-y: auto;
    border-radius: 0 16px 16px 0;
    background: #EAEBEF;
}

.portfolio_content_section {
    margin-top: 115px;
    flex: 1;
    overflow-y: auto;
    padding-left: 300px;
}

.portfolio_list {
    height: calc(100vh - 105px);
    width: 300px;
    padding-top: 30px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.list_item {
    display: flex;
    width: 100%;
    height: fit-content;
    list-style: none;
    text-align: start;
    flex-direction: column;
}

.list_title {
    color: #303440;
    text-decoration: none;
    cursor: pointer;
    padding: 8px 8px;
    width: 100%;
}

.list_title:hover {
    background: #d0d0d0;
}

.title_level_one {
    padding-left: 32px;
}

.title_level_two {
    padding-left: 64px;
}

.title_level_three {
    padding-left: 88px;
}

.list_item img {
    height: 24px;
    width: 24px;
    padding: 6px;
    margin-left: -24PX;
}

.list_arrow {
    transition: transform .3s;
}

.arrow .list_arrow {
    transform: rotate(90deg);
}

.list_title_father {
    width: 100%;
    display: flex;
    align-items: center;
}

.list_child {
    width: 100%;
    border-left: 0px solid #303440;
    list-style: none;
    transition: height .4s;
    height: 0;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}


/* -- Portfolio BODY Content -- */
.portfolio_text_section {
    padding: 50px;
    display: flex;
    flex-direction: column;
    width: 70%;
}

.portfolio_text_section h1 {
    font-size: 50px;
    font-weight: 450;
    margin-bottom: 20px;

    scroll-margin-block-start: 110px;
    /*Adds margin to the top of the viewport*/
    scroll-margin-block-end: 110px;
    /*Adds margin to the bottom of the viewport*/

}

.portfolio_text_section h2 {
    font-size: 34px;
    font-weight: 450;
    margin: 18px 0 0 0;

    scroll-margin-block-start: 110px;
    /*Adds margin to the top of the viewport*/
    scroll-margin-block-end: 110px;
    /*Adds margin to the bottom of the viewport*/

}

.portfolio_text_section h3 {
    font-size: 23px;
    font-weight: 400;
    margin: 18px 0 0 0;

    scroll-margin-block-start: 110px;
    /*Adds margin to the top of the viewport*/
    scroll-margin-block-end: 110px;
    /*Adds margin to the bottom of the viewport*/

}

.portfolio_text_section h3::before {
    content: "-";
    margin-right: 5px;
}

.portfolio_text_section p {
    color: #2f323d;
    font-size: 19px;
    font-weight: 400;
    margin: 8px 0px;
    text-align: justify;
}



/* -/-/-/-/-/- Responsive -/-/-/-/-/-/-*/

/* -- Responsive 1500px -- */
@media screen and (max-width:1500px) {
    .content_tabs {
        padding-left: 50px;
    }
}

/* -- Responsive 1400px -- */
@media screen and (max-width:1400px) {
    .content_tabs {
        padding-left: 0px;
    }
}

/* -- Responsive 1285px -- */
@media screen and (max-width:1285px) {
    .scroll_arrow{
        display: block;
        position: absolute;
        top: 70%;
       right: 0;
    }
}